<section class="vh-100">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-xl-9">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 col-lg-6">
                            <img src = "https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-2650.jpg?w=740&t=st=1682081909~exp=1682082509~hmac=28a4193142064138f62f8ba0637224cdf47879ae87c04fb55d7782d86f0dde06" class="img-fluid">
                        </div>
                        
                        <div class="col-md-6 col-lg-6 align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form [formGroup]="loginform">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: orange;"></i>
                                        <span class="h1 fw-bold mb-0">Login</span>
                                    </div>
                                    <h5 class="fw-normal mb-3 pb-2" style="letter-spacing:1px;">Login into Your Account</h5>

                                    <div class="form-outline mb-2">
                                        <label class="form-label">Email</label>
                                        <input type="email" placeholder = "Enter Email Address" class="form-control form-control-lg" formControlName="email">
                                    </div>

                                    <div class="form-outline mb-2">
                                        <label class="form-label">Password</label>
                                        <input type="password" placeholder="Enter Password" class="form-control form-control-lg" formControlName="password">
                                    </div>

                                    <div class="pt-1 mb-3 text-center">
                                        <button class="btn btn-dark" type="button" (click)="loginuser()">Login</button>
                                    </div>
                                </form>
    
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
